.alert {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    background: var(--coloraccent);
    color: var(--background1);
    padding: 10px 25px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 9999;
}
