.docs{
    overflow-y: auto;
}
.docs > h1{
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
}
.docs > .selector{
    display: flex;
    justify-content: space-between;
    justify-self: center;
    width: 90vw;
    max-width: 800px;
    min-height: 30px;
    background: var(--background2);
    box-shadow: inset 0px 0px 5px var(--colorprimary);
    border-radius: 25px;
    margin: auto;
    margin-bottom: 50px;
}
.docs > .selector > .p-light{
    min-width: 50px;
    margin: 0 50px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.docs > .selector > .p-light.selected{
    font-weight: 500;
    color: var(--coloraccent);
}
.docs > .body{
    overflow-y: hidden;
}
.docs > .body > span{
    overflow-y: hidden;
}
.docs > .body .content h2{
    margin-left: 5px;
}
.docs > .body .content h3{
    margin-top: 15px;
    margin-left: 10px;
}
.docs > .body .content .break{
    height: 1px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 35px;
    background-color: var(--colorprimary);
}
.docs > .body{
    display: block;
    justify-content: center;
    background-color: var(--background3);
    width: 100vw;
    padding: 0 2.5vw;
    /*height: calc(100vh - 290px);
    overflow-y: auto;*/
}
.docs > .body > span{
    display: flex;
    width: 150px;
    height: 4dvh;
    font-weight: 400;
    font-size: 1em;
    line-height: 19px;
    opacity: 0.5;
    align-items: center;
    cursor: default;
}
.docs > .body h2{
    font-size: 1.25em;
}
.docs > .body > .content{
    justify-self: center;
    max-width: 1000px;
    margin-top: 25px;
}
.docs > .body p{
    font-weight: 300;
    font-size: 1em;
    margin: 25px;
}
@media (max-width: 700px){
    .docs > h1{
        height: 100px;
    }
    .docs > .selector{
        width: 90vw;
        min-width: fit-content;
        justify-content: space-around;
        margin-bottom: 35px;
    }
    .docs > .selector > .p-light{
        min-width: none;
        margin: 0 5px;
    }
    .docs > .body{
        height: calc(100vh - 225px);
    }
}