header{
    position: sticky;
    height: 60px;
    background-color: var(--background2);
    box-shadow: 0px 2.5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5vw;
    z-index: 5;
}
header > div{
    display: flex;
    align-items: center;
    gap: 25px;
}
header > .left > h3{
    height: 60px;
    align-content: center;
}
header > .left > a,
header > .right > a{
    transition: 0.25s ease-in-out;
    border-bottom: solid 5px #00000000;
    padding-top: 5px;
}
header > .left > .current{
    border-bottom: solid 5px var(--colorprimary);
    padding-top: 0;
}
header > .right > .current{
    border-bottom: solid 5px var(--coloraccent);
    padding-top: 0;
}
@media (max-width: 700px){
    header > div{
        gap: 10px;
    }
}