.icons{
    display: flex;
}
.icons > .left{
    padding-top: 75px;
    padding-left: 2.5vw;
}
.icons > .left > .search-bar{
    margin-left: 20px;
}
.icons > .left > .items-list{
    margin: 50px 10px;
    padding: 25px 10px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 25px;
    max-height: calc(100vh - 250px);
}
.icons > .left > .items-list > .card{
    aspect-ratio: 1;
    height: 150px;
    border-radius: 25px;
    background-color: var(--background2);
    text-align: center;
    align-content: end;
    padding-bottom: 10px;
    box-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.25);
}
.icons > .right{
    display: flex;
    background-color: var(--background3);
    justify-content: start;
}
.icons > .right > .drag{
    width: 5px;
    margin: 5px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--background1);
    align-self: center;
}
.icons > .right > .container{
    display: flex;
    flex-wrap: wrap;
}