.icon-info{
    margin: 25px 10px;
    width: 100%;
}
.icon-info > .head{
    display: flex;
}
.icon-info > .head > .exit-icon{
    aspect-ratio: 1;
    height: 25px;
    background-color: var(--coloraccent);
    align-self: center;
    margin-right: 50px;
}
.icon-info > .head > .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 45px;
}
.icon-info > .head > .container > .icon-name{
    font-style: normal;
    font-weight: 800;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    color: var(--coloraccent);
    margin-right: 25px;
}
.icon-info > .icon-settings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 50%;
}
.icon-info > .icon-settings > .container > .reset{
    height: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75em;
    cursor: pointer;
    width: fit-content;
    transition: 0.2s;
    margin: 0;
    margin-left: 35px;
}
.icon-info > .icon-settings > .icon-display{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    width: 175px;
}
.icon-info > .icon-settings > .container > .reset:hover{
    text-decoration: underline;
}
.icon-info > .icon-code > .options{
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    width: 100%;
    padding: 0 10px;
    margin-top: 50px;
}
.icon-info > .icon-code > .options > .left{
    display: flex;
    align-items: end;
}
.icon-info > .icon-code > .options > .left > p{
    color: var(--coloraccent);
    margin-right: 5px;
    height: 30px;
    align-content: center;
    flex-shrink: 0;
}
.icon-info > .icon-code > .options > .right{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}
.icon-info > .icon-code > .code{
    width: 100%;
    min-height: 200px;
    border-radius: 25px;
    border: solid 2px var(--background1);
    background-color: rgba(0, 0, 0, .1);
}